footer {
  background: #ffffff;
  color: #000000;
}

.footer-logo {
  max-width: 150px;
}

.footer-links a {
  color: #000000;
  padding-left: 0;
  font-weight: 400;
  font-family: $primary-font;
}

.footer-links li {
  display: inline-block;
  margin: 0 0;
}
.footer-cta {
  margin-top: -150px;
  padding-bottom: 100px;
}
.footer-cta a {
  text-decoration: none;
}
.footer-cta h2 {
  color: #ffffff;
  font-family: $primary-font-bold;
}

.footer-cta span {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .footer-cta {
  padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-cta {
    margin-top: -100px;
  }
}