$primary-font: 'Bariol Regular';
$primary-font-bold: 'Bariol Bold';
$body-bg: #10081C;
$body-color: #fff;
$primary: #424775;
$white: #ffffff;
$secondary: #414679;
$bg-primary: #4B3F92;
$bg-secondary: #2B7BC2;